[".config/bat/themes/Catppuccin Latte.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin Latte.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Frappe.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin Frappe.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Macchiato.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin Macchiato.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Mocha.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin Mocha.tmTheme"
    refreshPeriod = "168h"
