[".config/btop/themes/catppuccin_latte.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_latte.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_frappe.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_frappe.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_macchiato.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_macchiato.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_mocha.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_mocha.theme"
    refreshPeriod = "168h"
