#[".config/bash/bash_command_not_found"]
#    type = "file"
#    url = "https://git.launchpad.net/ubuntu/+source/command-not-found/plain/bash_command_not_found?h=debian/sid"
#    executable = true
#[".config/zsh/zsh_command_not_found"]
#    type = "file"
#    url = "https://git.launchpad.net/ubuntu/+source/command-not-found/plain/zsh_command_not_found?h=debian/sid"
#    executable = true
