[".local/share/delta/themes.gitconfig"]
    type = "file"
    url = "https://github.com/dandavison/delta/raw/refs/heads/main/themes.gitconfig"
    refreshPeriod = "168h"
[".local/share/delta/catppucin.gitconfig"]
    type = "file"
    url = "https://github.com/catppuccin/delta/raw/refs/heads/main/catppuccin.gitconfig"
    refreshPeriod = "168h"
