[".config/kube/colors"]
    type = "archive"
    url = "https://github.com/vkhitrin/kubecolor-catppuccin/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/kube/kubectl_aliases"]
    type = "file"
    url = "https://raw.githubusercontent.com/ahmetb/kubectl-aliases/refs/heads/master/.kubectl_aliases"
    refreshPeriod = "168h"
