[".local/share/lxqt/themes/catpuccin-frappe"]
    type = "archive"
    url = "https://github.com/catppuccin/lxqt/releases/download/v2.0.0/catppuccin-frappe.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".local/share/qtermwidget6/color-schemes/Catppuccin-Frappe.colorscheme"]
    type = "file"
    url = "https://github.com/catppuccin/qterminal/raw/refs/heads/main/src/Catppuccin-Frappe.colorscheme"
    refreshPeriod = "168h"
