[".config/vifm/colors"]
#    type = "archive"
#    url = "https://github.com/vifm/vifm-colors/archive/refs/heads/master.zip"
#    exact = true
#    stripComponents = 1
    type = "git-repo"
    url = "https://github.com/vifm/vifm-colors.git"
    refreshPeriod = "168h"
