#!/bin/bash
# This script should be the first one to run so be careful if you rename it or
# add other `run_before_` scripts

set -euo pipefail
set -x

# Install curl if it's not already installed
#if ! command -v curl &> /dev/null; then
  sudo apt-get update
  sudo apt-get install -y curl wget
  sudo apt-get install -y build-essential
  sudo apt-get install -y btrfs-progs btrfsmaintenance btrfsd btrfs-assistant snapper
  sudo apt-get install -y git-credential-oauth
#fi

