{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# shellcheck disable=SC1054,SC1083
# Add `config.toml` hash to get the script run when main config is updated
# config.toml hash: \{\{ include "dot_config/mise/config.toml" | sha256sum \}\}"

set -ueo pipefail
IFS=$'\n\t'

export HOMEBREW_BREWFILE="$HOME/.local/share/chezmoi/dot_config/brewfile/Brewfile"
export HOMEBREW_BREWFILE_BACKUP="$HOME/.config/brewfile/Brewfile.backup" # Set brew-file backup file name
export HOMEBREW_BREWFILE_FULL_NAME=1 # Toggle use of full names (tap/name)
export HOMEBREW_BREWFILE_LEAVES=0 # Only list leaves
export HOMEBREW_BREWFILE_ON_REQUEST=1 # Only list packages installed on request. Has priority over leaves
export HOMEBREW_BREWFILE_TOP_PACKAGES="gcc" # "go,coreutils" # Packages always to be listed
#export NONINTERACTIVE=1

[ -x /home/linuxbrew/.linuxbrew/bin/brew ] || \
  bash -c "$(curl -fsSL https://raw.github.com/rcmdnk/homebrew-file/install/install.sh)"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

if [ -f "$(brew --prefix)/etc/brew-wrap" ];then
  # shellcheck disable=SC1091
  source "$(brew --prefix)/etc/brew-wrap"
fi

brew file install

#brew install \
#  mise \
#  helix \
#  tmux \
#  jq \
#  ripgrep \
#  fd \
#  direnv \



#mise plugins install --all --yes
#
#mise install
#
#for SH in bash fish; do
#    mise activate --shell "$SH" > ~/.config/"$SH"/conf.d/mise."$SH"
#    mise complete --shell "$SH" > ~/.config/"$SH"/completions/mise."$SH"
#done
#
#mkdir -p  ~/.config/direnv/lib
#mise direnv >~/.config/direnv/lib/use_mise.sh
#ln -snf ~/.config/direnv/lib/use_mise.sh ~/.config/direnv/lib/use_rtx.sh
#
#mise plugins install --force \
#    pdm \
#    php \
#    pnpm

pipx install-all "$HOME/.config/pipx/packages.json"

# shellcheck disable=SC1009,SC1072,SC1073,SC1054,SC1083
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep

{{ end -}}

