#!/bin/bash
# This script should be the first one to run so be careful if you rename it or
# add other `run_before_` scripts

set -euo pipefail
#set -x

# Install curl if it's not already installed
#if ! command -v curl &> /dev/null; then
  sudo apt-get update
  sudo apt-get install -qy \
    curl wget \
    build-essential \
    btrfs-progs btrfsmaintenance btrfsd btrfs-assistant snapper \
    git-credential-oauth
#fi

