encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.age"
  recipient = "age16nl7d84gqsd40qwewp7sh5tdfh50hd2ms2ksu6xndluayunrgpdqvs0x0k"

[data]
  email = "silopolis@gmail.com"
  gitemail = "silopolis@gmail.com"
  name = "Tarot"
  firstname = "Jérémie"

# From https://github.com/posquit0/dotfiles/blob/main/.chezmoitemplates/cpu

[data.cpu]
  cores = 4
  threads = 8

[data.machine]
  type = "desktop"

[data.github]
  is_codespaces = false

[git]
  autoAdd = false  # implied by autoCommit
  autoCommit = false  # implied by autoPush
  autoPush = false
  commitMessageTemplate = ""
  #commitMessageTemplateFile = ".commit_message.tmpl"

[env]
  HOMEBREW_BREWFILE_BACKUP = "$HOME/.config/brewfile/brewfile.backup" # Set brew-file backup file name
  HOMEBREW_BREWFILE_FULL_NAME = "1" # Toggle use of full names (tap/name)
  HOMEBREW_BREWFILE_LEAVES = "0" # Only list leaves
  HOMEBREW_BREWFILE_ON_REQUEST = "1" # Only list packages installed on request. Has priority over leaves
  #HOMEBREW_BREWFILE_TOP_PACKAGES = "go,coreutils" # Packages always to be listed

[update]
  # Update submodules recursively
  recurseSubmodules = true

[diff]
  pager = "delta"
  diff.exclude = ["externals"]

[merge]
  command = "vimdiff"
  

[hooks.apply.pre]


[hooks.apply.post]


# vim:ft=toml.chezmoitmpl
