[Desktop Entry]
Type=Service
MimeType=image/*;
Actions=convertToPng
Icon=utilities-terminal
X-KDE-Priority=TopLevel


[Desktop Action convertToPng]
Name=Convert to PNG
Name[fr]=Convertir en PNG
Exec=mogrify -format png %f
Icon=converseen
